# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*/RTC-1aout-25nov

out.txt
AutreItinéraire.txt
TP2.pdf
TP1.pdf
test_out.rtf
exemple.txt

.idea

cmake-build-debug

.DS_Store

DS_Store

TP3.pdf